@font-face {
    font-family: 'aldo-pc';
    src: url('#{$path-to-fonts}aldo/aldo-pc.eot');
    src:
        url('#{$path-to-fonts}aldo/aldo-pc.eot?#iefix') format('embedded-opentype'),
        url('#{$path-to-fonts}aldo/aldo-pc.woff') format('woff'),
        url('#{$path-to-fonts}aldo/aldo-pc.ttf') format('truetype'),
        url('#{$path-to-fonts}aldo/aldo-pc.svg') format('svg');

    font-weight: 200;
    font-style: normal;
}