//- Document: _main-layout.jade
include ../_mixins/_mixins

block config
    include ../_config

doctype html
html(lang="en")
    head
        // Page title
        title
            block page-title
                | #{pageTitle}


        // Meta tags
        block meta-tags
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
            meta(name="viewport" content="width=device-width=1, initial-scale=1.0")


        // Stylesheets
        block stylesheets
            link(rel="stylesheet" href="../css/global.css")

        // Fonts
        block fonts

        // JavaScripts
        block javascripts
            if jQuery || slider || carousel
                script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
            if scripts || slider || carousel
                script(src="../js/main-scripts.js")
            if slider
                script(src="../js/slick.js")

            // scripts for yandex sharing
            script(src="//yastatic.net/share2/share.js")



    body
        .page-wrapper

            block pageHeader
                include ../_modules/_page-header

            block page-body

            block pageFooter
                include ../_modules/_page-footer



        //- Basic page structure:
            <div class="layout-page-wrapper">
                <header></header>
                <main>
                    <div class="layout-main-container">
                        <div class="layout-type"></div>
                    </div>
                </main>
                <footer></footer>
            </div>