$screen-size-smallest: 320px;
$screen-size-small: 767px;      // max: 767px
$screen-size-medium: 1023px;    // max: 1023px

@mixin media-query($breakpoint) {

    @if $breakpoint == "screen-size-medium" {
        @media only screen and (max-width: $screen-size-medium) { @content; }
    }

    @if $breakpoint == "screen-size-medium-only" {
        @media only screen and (min-width: 768px) and (max-width: $screen-size-medium) { @content; }
    }

    @else if $breakpoint == "screen-size-small" {
        @media only screen and (max-width: $screen-size-small) { @content; }
    }

    @else if $breakpoint == "screen-size-smallest" {
        @media only screen and (width: $screen-size-smallest) { @content; }
    }
}

/*
Examples:

@include media-query($yourScreenSize) {
	prop: value;
}
*/