// Banner

.banner__link {
    @include absolute(top 0 left 0);
    display: block;
    width: 100%;
    height: 100%;
}

.banner--text-content {
    @include absolute(top 50% left 50%);
    @include translate(-50%, -50%);
    width: 575px;

    @include media-query(screen-size-medium-only) {
        width: 525px;
    }

    @include media-query(screen-size-small) {
        width: 270px;
    }
}

.banner--text-content__title {
    line-height: 1em;
    font-size: 72px;
    color: #fff;
    text-align: center;

    @include media-query(screen-size-medium-only) {
        font-size: 56px;
    }

    @include media-query(screen-size-small) {
        font-size: 52px;
    }
}

.banner--text-content__text {
    line-height: 1.5em;
    margin-top: 45px;
    color: #fff;
    text-align: center;

    @include media-query(screen-size-small) {
        font-size: 12px;
    }
}


// Pictured blocks

.pictured-block__section {
    @include clearfix;
    padding-top: 2px;

    @include media-query(screen-size-medium-only) {
        @include flex-parent();
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
    }

    @include media-query(screen-size-small) {
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

.pictured-block__link {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.pictured-block__picture-container {
    @include absolute (top 0 left 0);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: cover;

    .pictured-block__link:hover & {
        @include transform(scale(1.1));
        @include transition(duration, 2s);
    }

    .pictured-block__doors & {
        background-image: url("../images/banner/pictured-section__doors.jpg");

        @include media-query(screen-size-medium-only) {
            background-position-x: -50px;
        }

        @include media-query(screen-size-small) {
            background-position-x: -220px;
        }
    }

    .pictured-block__engineering & {
        background-image: url("../images/banner/pictured-section__engineering.jpg");

        @include media-query(screen-size-medium-only) {
            background-position-y: -70px;
        }
    }

    .pictured-block__parquet & {
        background-image: url("../images/banner/pictured-section__parquet.jpg");
    }

    .pictured-block__designers & {
        background-image: url("../images/banner/pictured-section__designers.jpg");

        @include media-query(screen-size-medium) {
            background-position-x: 15%;
        }
    }

    .pictured-block__interior-solutions & {
        background-image: url("../images/banner/pictured-section__interior-solutions.jpg");


    }
}


//pictured blocks text content

.pictured-block--text-content {
    @include absolute (top 0 left 0);
    @include flex-parent(
            $flex-direction: column,
            $justify-content: center,
            $align-items: center
    );
    @include box-sizing();
    width: 100%;
    height: 100%;
    padding: $spacing-xxmedium;

    .pictured-block__link:hover & {
        display: none;
    }
}

.pictured-block--text-content__title{
    font-size: 1.875em;
    color: #fff;
    text-transform: uppercase;
}

.pictured-block--text-content__text {
    line-height: 1.25em;
    margin-top: $spacing-medium;
    color: #fff;
    text-align: center;
}


// Pictured block cover

.pictured-block--cover {
    @include absolute( top 0 left 0);
    @include flex-parent(
            $flex-direction: column,
            $justify-content: center,
            $align-items: center,
            $flex-wrap: nowrap
    );
    @include box-sizing();
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 46, 44, .8);

    .pictured-block__link:hover & {
        @include flexbox();
    }

    padding: $spacing-xmedium;
}

.pictured-block--cover__title{
    font-size: 1.875em;
    color: #fff;
    text-transform: uppercase;
}

.pictured-block--cover__text {
    line-height: 1.25em;
    margin-top: $spacing-medium;
    color: #fff;
    text-align: center;
}


// Picture blocks (individual)

.pictured-block__doors {
    float: left;
    width: 33%;
    height: 215px;

    @include media-query(screen-size-medium-only) {
        @include box-sizing();
        order: 0;
        width: 50%;
        height: 340px;
        padding-right: 2px;
        position: relative;

        &:after {
            @include absolute(top 0 right 0);
            display: block;
            content: "";
            width: 2px;
            height: 100%;
        }
    }

    @include media-query(screen-size-small) {
        float: initial;
        width: 100%;
        height: 340px;
    }
}

.pictured-block__parquet {
    float: left;
    width: 33%;
    height: 215px;
    margin-top: 2px;

    @include media-query(screen-size-medium-only) {
        @include box-sizing();
        order: 1;
        width: 50%;
        height: 340px;
        margin-top: 0;
        padding-left: 2px;
        position: relative;

        &:before {
            @include absolute(top 0 left 0);
            display: block;
            content: "";
            width: 2px;
            height: 100%;
        }
    }

    @include media-query(screen-size-small) {
        float: initial;
        width: 100%;
        height: 340px;
        margin-top: 3px;
    }
}

.pictured-block__engineering {
    float: right;
    width: 66.8%;
    height: 432px;

    @include media-query(screen-size-medium) {
        order: 2;
        width: 100%;
        height: 340px;
        margin-top: 4px;
    }

    @include media-query(screen-size-small) {
        float: initial;
        margin-top: 3px;
    }
}

.pictured-block__designers {
    height: 321px;
    margin-top: 2px;

    @include media-query(screen-size-medium-only) {
        height: 340px;
    }

    @include media-query(screen-size-small) {
        height: 390px;
        margin-top: 0;
    }
}

.pictured-block__interior-solutions {
    height: 642px;
    margin-top: 2px;

    @include media-query(screen-size-medium-only) {
        height: 340px;
    }

    @include media-query(screen-size-small) {
        height: 390px;
        margin-top: 3px;
    }
}


// Our advantages

.our-advantages {
    @include flex-parent();
    margin-top: 2px;
    background-color: $our-advantages-bg;
    position: relative;

    @include media-query(screen-size-small) {
        @include align-items(flex-start);
        margin-top: 3px;
        padding-top: 70px;
    }
}

.our-advantages__title {
    @include absolute(top 50px left 50%);
    @include translate(-50%, 0);
    font-size: 22px;
    text-transform: uppercase;

    @include media-query(screen-size-small) {
        @include translate(0, 0);
        width: 100%;
        text-align: center;
        top: $spacing-large;
        left: 0;
    }
}

%our-advantages__item {
    @include flex-grow(1);
    height: 300px;
    background-repeat: no-repeat;
    background-position: center 60%;
    position: relative;

    @include media-query(screen-size-small) {
        @include flex-grow(0);
        width: 50%;
        height: initial;
        min-height: 115px;
        background-position: 50% 15px;

        &:before {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
        }
    }
}

.our-advantages__patented,
.our-advantages__innovations,
.our-advantages__design,
.our-advantages__trustworthy {
    @include media-query(screen-size-small) {
        //margin-top: 10px;
    }
}

.our-advantages__design,
.our-advantages__trustworthy {
    @include media-query(screen-size-small) {
        margin-bottom: 10px;

        &:hover {
            margin-bottom: 0;
            transition-duration: 0s;
        }
    }
}

.our-advantages__quality {
    @extend %our-advantages__item;
    background-image: url("../images/our_advantages/our-advantages__quality.png");
}

.our-advantages__eco {
    @extend %our-advantages__item;
    background-image: url("../images/our_advantages/our-advantages__eco.png");
}

.our-advantages__patented {
    @extend %our-advantages__item;
    background-image: url("../images/our_advantages/our-advantages__patented.png");
}

.our-advantages__innovations {
    @extend %our-advantages__item;
    background-image: url("../images/our_advantages/our-advantages__innovations.png");
}

.our-advantages__design {
    @extend %our-advantages__item;
    background-image: url("../images/our_advantages/our-advantages__design.png");
}

.our-advantages__trustworthy {
    @extend %our-advantages__item;
    background-image: url("../images/our_advantages/our-advantages__trustworthy.png");
}

.our-advantages--cover {
    @include absolute(top 0 left 0);
    @include flex-parent(
            $flex-direction: column,
            $justify-content: center,
            $align-items: center,
            $flex-wrap: nowrap
    );
    @include box-sizing();
    display: none;
    width: 100%;
    height: 100%;
    padding: {
        top: $spacing-medium;
        left: $spacing-medium;
        right: $spacing-medium;
        bottom: $spacing-medium;
    };
    overflow: hidden;
    background-color: rgba(48, 46, 44, .5);

    %our-advantages__item:hover & {
        @include flex-parent(
                $flex-direction: column,
                $justify-content: center,
                $align-items: center,
                $flex-wrap: nowrap
        );
    }
}

.our-advantages--cover {
    @include media-query(screen-size-small) {
        width: 200%;
        margin-top: 125px;
        overflow: initial;
        position: relative;

        &:before {
            @include absolute(top -12px left 50%);
            @include trigger-up(12px, rgba(48, 46, 44, 0.5));
            display: block;
            content: "";
        }
    }
}

// positioning .our-advantages--cover
.our-advantages--cover {
    @include media-query(screen-size-small) {
        .our-advantages__eco &,
        .our-advantages__innovations &,
        .our-advantages__trustworthy & {
            margin-left: -100%;
        }
    }
}

// positioning .our-advantages--cover trigger
.our-advantages--cover:before {
    .our-advantages__quality &,
    .our-advantages__patented &,
    .our-advantages__design & {
        left: 21%;
    }

    .our-advantages__eco &,
    .our-advantages__innovations &,
    .our-advantages__trustworthy & {
        left: initial;
        right: 21%;
    }
}


.our-advantages--cover__title {
    font-size: $font-size-xmedium;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    @include media-query(screen-size-medium) {
        font-size: $font-size-small;
    }
}

.our-advantages--cover__text {
    max-height: 70%;
    line-height: 1.5em;
    margin-top: $spacing-xxmedium;
    font-size: 14px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}


// temporary styles