@charset "UTF-8";
/*
This mixin does not allow to use multiple box-shadows
@mixin box-shadow($x: 0, $y: 0, $blur: 5px, $spread: 5px, $color: rgba(0,0,0,.4), $inset: "") {
    @if ($inset != "") {
        @include css3-prefix('box-shadow', $inset $x $y $blur $spread $color);
    } @else {
        @include css3-prefix('box-shadow', $x $y $blur $spread $color);
    }
}
*/
/*
.a {
    @include absolute();
}

.b {
    @include absolute(top);
}

.c {
    @include absolute(top right);
}

.d {
    @include absolute(top right bottom);
}

.e {
    @include absolute(top right bottom left);
}

.f {
    @include absolute(top right 1em);
}

.g {
    @include absolute(top 1em right);
}

.h {
    @include absolute(top 1em right 100%);
}

.i {
    @include absolute(top right mistake);
}

.j {
    @include absolute(top 1em right 1em bottom 1em left 1em)
}
*/
/*
    Example:

    @include keyframes(fadeIn) {
        from { opacity: 0%; }
        to { opacity: 100%; }
    }
*/
/*
    Example:
    @include animation(10s, 5s, changecolour)
 */
/*
Examples:

@include media-query($yourScreenSize) {
	prop: value;
}
*/
/* line 3, ../sass/_base/_base.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/_base/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  background-color: #302e2c;
}

/* line 23, ../sass/_base/_base.scss */
main {
  display: block;
}

/* line 25, ../sass/_base/_base.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 30, ../sass/_base/_base.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 35, ../sass/_base/_base.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 40, ../sass/_base/_base.scss */
ul li, ol li {
  margin: 0;
}

/* line 45, ../sass/_base/_base.scss */
input[type="submit"] {
  margin: 0;
  padding: 0;
  background-color: initial;
  border: none;
  cursor: pointer;
}

/* line 53, ../sass/_base/_base.scss */
input[type="search"] {
  -webkit-appearance: none;
  border: none;
}

/* line 58, ../sass/_base/_base.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* line 65, ../sass/_base/_base.scss */
button {
  padding: 0;
  background-color: black;
  border: none;
  cursor: pointer;
}
/* line 71, ../sass/_base/_base.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 78, ../sass/_base/_base.scss */
* {
  -webkit-transition: duration, 0.2s;
  -khtml-transition: duration, 0.2s;
  -moz-transition: duration, 0.2s;
  -ms-transition: duration, 0.2s;
  -o-transition: duration, 0.2s;
  transition: duration, 0.2s;
  outline: none;
}

/* line 3, ../sass/_pages/_home.scss */
.banner__link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 10, ../sass/_pages/_home.scss */
.banner--text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 575px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 10, ../sass/_pages/_home.scss */
  .banner--text-content {
    width: 525px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 10, ../sass/_pages/_home.scss */
  .banner--text-content {
    width: 270px;
  }
}

/* line 24, ../sass/_pages/_home.scss */
.banner--text-content__title {
  line-height: 1em;
  font-size: 72px;
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 24, ../sass/_pages/_home.scss */
  .banner--text-content__title {
    font-size: 56px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 24, ../sass/_pages/_home.scss */
  .banner--text-content__title {
    font-size: 52px;
  }
}

/* line 39, ../sass/_pages/_home.scss */
.banner--text-content__text {
  line-height: 1.5em;
  margin-top: 45px;
  color: #fff;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  /* line 39, ../sass/_pages/_home.scss */
  .banner--text-content__text {
    font-size: 12px;
  }
}

/* line 53, ../sass/_pages/_home.scss */
.pictured-block__section {
  padding-top: 2px;
}
/* line 126, ../sass/_helpers/_mixins.scss */
.pictured-block__section:after {
  display: table;
  content: "";
  clear: both;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 53, ../sass/_pages/_home.scss */
  .pictured-block__section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 53, ../sass/_pages/_home.scss */
  .pictured-block__section {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

/* line 70, ../sass/_pages/_home.scss */
.pictured-block__link {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 78, ../sass/_pages/_home.scss */
.pictured-block__picture-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 10%;
  background-size: cover;
}
/* line 86, ../sass/_pages/_home.scss */
.pictured-block__link:hover .pictured-block__picture-container {
  -webkit-transform: scale(1.1);
  -khtml-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: duration, 2s;
  -khtml-transition: duration, 2s;
  -moz-transition: duration, 2s;
  -ms-transition: duration, 2s;
  -o-transition: duration, 2s;
  transition: duration, 2s;
}
/* line 91, ../sass/_pages/_home.scss */
.pictured-block__doors .pictured-block__picture-container {
  background-image: url("../images/banner/pictured-section__doors.jpg");
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 91, ../sass/_pages/_home.scss */
  .pictured-block__doors .pictured-block__picture-container {
    background-position-x: -50px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 91, ../sass/_pages/_home.scss */
  .pictured-block__doors .pictured-block__picture-container {
    background-position-x: -220px;
  }
}
/* line 103, ../sass/_pages/_home.scss */
.pictured-block__engineering .pictured-block__picture-container {
  background-image: url("../images/banner/pictured-section__engineering.jpg");
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 103, ../sass/_pages/_home.scss */
  .pictured-block__engineering .pictured-block__picture-container {
    background-position-y: -70px;
  }
}
/* line 111, ../sass/_pages/_home.scss */
.pictured-block__parquet .pictured-block__picture-container {
  background-image: url("../images/banner/pictured-section__parquet.jpg");
}
/* line 115, ../sass/_pages/_home.scss */
.pictured-block__designers .pictured-block__picture-container {
  background-image: url("../images/banner/pictured-section__designers.jpg");
}
@media only screen and (max-width: 1023px) {
  /* line 115, ../sass/_pages/_home.scss */
  .pictured-block__designers .pictured-block__picture-container {
    background-position-x: 15%;
  }
}
/* line 123, ../sass/_pages/_home.scss */
.pictured-block__interior-solutions .pictured-block__picture-container {
  background-image: url("../images/banner/pictured-section__interior-solutions.jpg");
}

/* line 133, ../sass/_pages/_home.scss */
.pictured-block--text-content {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}
/* line 145, ../sass/_pages/_home.scss */
.pictured-block__link:hover .pictured-block--text-content {
  display: none;
}

/* line 150, ../sass/_pages/_home.scss */
.pictured-block--text-content__title {
  font-size: 1.875em;
  color: #fff;
  text-transform: uppercase;
}

/* line 156, ../sass/_pages/_home.scss */
.pictured-block--text-content__text {
  line-height: 1.25em;
  margin-top: 1rem;
  color: #fff;
  text-align: center;
}

/* line 166, ../sass/_pages/_home.scss */
.pictured-block--cover {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 46, 44, 0.8);
  padding: 1.25rem;
}
/* line 180, ../sass/_pages/_home.scss */
.pictured-block__link:hover .pictured-block--cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 187, ../sass/_pages/_home.scss */
.pictured-block--cover__title {
  font-size: 1.875em;
  color: #fff;
  text-transform: uppercase;
}

/* line 193, ../sass/_pages/_home.scss */
.pictured-block--cover__text {
  line-height: 1.25em;
  margin-top: 1rem;
  color: #fff;
  text-align: center;
}

/* line 203, ../sass/_pages/_home.scss */
.pictured-block__doors {
  float: left;
  width: 33%;
  height: 215px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 203, ../sass/_pages/_home.scss */
  .pictured-block__doors {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    order: 0;
    width: 50%;
    height: 340px;
    padding-right: 2px;
    position: relative;
  }
  /* line 216, ../sass/_pages/_home.scss */
  .pictured-block__doors:after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    content: "";
    width: 2px;
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 203, ../sass/_pages/_home.scss */
  .pictured-block__doors {
    float: initial;
    width: 100%;
    height: 340px;
  }
}

/* line 232, ../sass/_pages/_home.scss */
.pictured-block__parquet {
  float: left;
  width: 33%;
  height: 215px;
  margin-top: 2px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 232, ../sass/_pages/_home.scss */
  .pictured-block__parquet {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    order: 1;
    width: 50%;
    height: 340px;
    margin-top: 0;
    padding-left: 2px;
    position: relative;
  }
  /* line 247, ../sass/_pages/_home.scss */
  .pictured-block__parquet:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 2px;
    height: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 232, ../sass/_pages/_home.scss */
  .pictured-block__parquet {
    float: initial;
    width: 100%;
    height: 340px;
    margin-top: 3px;
  }
}

/* line 264, ../sass/_pages/_home.scss */
.pictured-block__engineering {
  float: right;
  width: 66.8%;
  height: 432px;
}
@media only screen and (max-width: 1023px) {
  /* line 264, ../sass/_pages/_home.scss */
  .pictured-block__engineering {
    order: 2;
    width: 100%;
    height: 340px;
    margin-top: 4px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 264, ../sass/_pages/_home.scss */
  .pictured-block__engineering {
    float: initial;
    margin-top: 3px;
  }
}

/* line 282, ../sass/_pages/_home.scss */
.pictured-block__designers {
  height: 321px;
  margin-top: 2px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 282, ../sass/_pages/_home.scss */
  .pictured-block__designers {
    height: 340px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 282, ../sass/_pages/_home.scss */
  .pictured-block__designers {
    height: 390px;
    margin-top: 0;
  }
}

/* line 296, ../sass/_pages/_home.scss */
.pictured-block__interior-solutions {
  height: 642px;
  margin-top: 2px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 296, ../sass/_pages/_home.scss */
  .pictured-block__interior-solutions {
    height: 340px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 296, ../sass/_pages/_home.scss */
  .pictured-block__interior-solutions {
    height: 390px;
    margin-top: 3px;
  }
}

/* line 313, ../sass/_pages/_home.scss */
.our-advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2px;
  background-color: #e1e1e1;
  position: relative;
}
@media only screen and (max-width: 767px) {
  /* line 313, ../sass/_pages/_home.scss */
  .our-advantages {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    margin-top: 3px;
    padding-top: 70px;
  }
}

/* line 326, ../sass/_pages/_home.scss */
.our-advantages__title {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -khtml-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: 22px;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  /* line 326, ../sass/_pages/_home.scss */
  .our-advantages__title {
    -webkit-transform: translate(0, 0);
    -khtml-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 100%;
    text-align: center;
    top: 2rem;
    left: 0;
  }
}

/* line 341, ../sass/_pages/_home.scss */
.our-advantages__quality, .our-advantages__eco, .our-advantages__patented, .our-advantages__innovations, .our-advantages__design, .our-advantages__trustworthy {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center 60%;
  position: relative;
}
@media only screen and (max-width: 767px) {
  /* line 341, ../sass/_pages/_home.scss */
  .our-advantages__quality, .our-advantages__eco, .our-advantages__patented, .our-advantages__innovations, .our-advantages__design, .our-advantages__trustworthy {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 50%;
    height: initial;
    min-height: 115px;
    background-position: 50% 15px;
  }
  /* line 355, ../sass/_pages/_home.scss */
  .our-advantages__quality:before, .our-advantages__eco:before, .our-advantages__patented:before, .our-advantages__innovations:before, .our-advantages__design:before, .our-advantages__trustworthy:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  /* line 373, ../sass/_pages/_home.scss */
  .our-advantages__design,
  .our-advantages__trustworthy {
    margin-bottom: 10px;
  }
  /* line 378, ../sass/_pages/_home.scss */
  .our-advantages__design:hover,
  .our-advantages__trustworthy:hover {
    margin-bottom: 0;
    transition-duration: 0s;
  }
}

/* line 385, ../sass/_pages/_home.scss */
.our-advantages__quality {
  background-image: url("../images/our_advantages/our-advantages__quality.png");
}

/* line 390, ../sass/_pages/_home.scss */
.our-advantages__eco {
  background-image: url("../images/our_advantages/our-advantages__eco.png");
}

/* line 395, ../sass/_pages/_home.scss */
.our-advantages__patented {
  background-image: url("../images/our_advantages/our-advantages__patented.png");
}

/* line 400, ../sass/_pages/_home.scss */
.our-advantages__innovations {
  background-image: url("../images/our_advantages/our-advantages__innovations.png");
}

/* line 405, ../sass/_pages/_home.scss */
.our-advantages__design {
  background-image: url("../images/our_advantages/our-advantages__design.png");
}

/* line 410, ../sass/_pages/_home.scss */
.our-advantages__trustworthy {
  background-image: url("../images/our_advantages/our-advantages__trustworthy.png");
}

/* line 415, ../sass/_pages/_home.scss */
.our-advantages--cover {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  background-color: rgba(48, 46, 44, 0.5);
}
/* line 436, ../sass/_pages/_home.scss */
.our-advantages__quality:hover .our-advantages--cover, .our-advantages__eco:hover .our-advantages--cover, .our-advantages__patented:hover .our-advantages--cover, .our-advantages__innovations:hover .our-advantages--cover, .our-advantages__design:hover .our-advantages--cover, .our-advantages__trustworthy:hover .our-advantages--cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 767px) {
  /* line 446, ../sass/_pages/_home.scss */
  .our-advantages--cover {
    width: 200%;
    margin-top: 125px;
    overflow: initial;
    position: relative;
  }
  /* line 453, ../sass/_pages/_home.scss */
  .our-advantages--cover:before {
    position: absolute;
    top: -12px;
    left: 50%;
    border: 12px solid rgba(48, 46, 44, 0.5);
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: none;
    display: block;
    content: "";
  }
}

@media only screen and (max-width: 767px) {
  /* line 465, ../sass/_pages/_home.scss */
  .our-advantages__eco .our-advantages--cover, .our-advantages__innovations .our-advantages--cover, .our-advantages__trustworthy .our-advantages--cover {
    margin-left: -100%;
  }
}

/* line 475, ../sass/_pages/_home.scss */
.our-advantages__quality .our-advantages--cover:before, .our-advantages__patented .our-advantages--cover:before, .our-advantages__design .our-advantages--cover:before {
  left: 21%;
}
/* line 481, ../sass/_pages/_home.scss */
.our-advantages__eco .our-advantages--cover:before, .our-advantages__innovations .our-advantages--cover:before, .our-advantages__trustworthy .our-advantages--cover:before {
  left: initial;
  right: 21%;
}

/* line 490, ../sass/_pages/_home.scss */
.our-advantages--cover__title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 1023px) {
  /* line 490, ../sass/_pages/_home.scss */
  .our-advantages--cover__title {
    font-size: 0.875rem;
  }
}

/* line 502, ../sass/_pages/_home.scss */
.our-advantages--cover__text {
  max-height: 70%;
  line-height: 1.5em;
  margin-top: 1.5rem;
  font-size: 14px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 1, ../sass/_modules/_sofia.scss */
.main-content-container {
  max-width: 100rem;
  margin: auto;
}

/* line 1, ../sass/_modules/_page-header.scss */
.page-header {
  padding-top: 30px;
  position: relative;
}
@media only screen and (max-width: 1023px) {
  /* line 1, ../sass/_modules/_page-header.scss */
  .page-header {
    padding-top: 0;
  }
}

/* line 10, ../sass/_modules/_page-header.scss */
.page-header--container {
  width: 62.5rem;
  margin: auto;
}
@media only screen and (max-width: 1023px) {
  /* line 10, ../sass/_modules/_page-header.scss */
  .page-header--container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
  }
}

/* line 24, ../sass/_modules/_page-header.scss */
.page-header--top-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1023px) {
  /* line 24, ../sass/_modules/_page-header.scss */
  .page-header--top-block {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

/* line 33, ../sass/_modules/_page-header.scss */
.page-header--contact-details, .page-footer--contact-details {
  color: #797979;
}
/* line 36, ../sass/_modules/_page-header.scss */
.page-header--contact-details .contact-details__phone, .page-footer--contact-details .contact-details__phone {
  font-size: 22px;
}
/* line 37, ../sass/_modules/_page-header.scss */
.page-header--contact-details .contact-details__title, .page-footer--contact-details .contact-details__title {
  font-size: 13px;
}

@media only screen and (max-width: 1023px) {
  /* line 40, ../sass/_modules/_page-header.scss */
  .page-header--contact-details {
    display: none;
  }
}

/* line 48, ../sass/_modules/_page-header.scss */
.page-header--company-logo {
  display: block;
  width: 284px;
  height: 20px;
  background: url("../images/logo/company-logo.png") no-repeat;
}
@media only screen and (max-width: 1023px) {
  /* line 48, ../sass/_modules/_page-header.scss */
  .page-header--company-logo {
    position: absolute;
    top: 0.75rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -khtml-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    order: 1;
    width: 183px;
    height: 36px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/logo/company-logo__768.png");
  }
}
@media only screen and (max-width: 767px) {
  /* line 48, ../sass/_modules/_page-header.scss */
  .page-header--company-logo {
    width: 162px;
    height: 36px;
    background-image: url("../images/logo/company-logo__320.png");
  }
}

/* line 75, ../sass/_modules/_page-header.scss */
.page-header--search-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1023px) {
  /* line 75, ../sass/_modules/_page-header.scss */
  .page-header--search-block {
    order: 0;
  }
}

/* line 83, ../sass/_modules/_page-header.scss */
.page-header__search-form {
  -webkit-border-radius: 14px;
  -khtml-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  margin-right: 1rem;
  border: 1px solid #525452;
  position: relative;
}
/* line 89, ../sass/_modules/_page-header.scss */
.page-header__search-form:hover {
  border-color: #986945;
}
@media only screen and (max-width: 1023px) {
  /* line 83, ../sass/_modules/_page-header.scss */
  .page-header__search-form {
    margin-left: 14px;
    border-color: transparent;
  }
}

/* line 100, ../sass/_modules/_page-header.scss */
.page-header__search-input {
  -webkit-border-radius: 13px;
  -khtml-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 175px;
  height: 30px;
  padding-left: 0.75rem;
  padding-right: 1.75rem;
  color: #797979;
  background-color: transparent;
  cursor: pointer;
}
@media only screen and (max-width: 1023px) {
  /* line 100, ../sass/_modules/_page-header.scss */
  .page-header__search-input {
    display: none;
    width: 260px;
    padding-left: 1.75rem;
    padding-right: 0.75rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 100, ../sass/_modules/_page-header.scss */
  .page-header__search-input {
    width: 220px;
  }
}

/* line 124, ../sass/_modules/_page-header.scss */
.page-header__search-button {
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  width: 19px;
  height: 19px;
  background: url("../images/icons/magnifier-icon.png") no-repeat;
}
/* line 132, ../sass/_modules/_page-header.scss */
.page-header__search-form:hover .page-header__search-button {
  background-image: url("../images/icons/magnifier-icon__active.png");
}
@media only screen and (max-width: 1023px) {
  /* line 124, ../sass/_modules/_page-header.scss */
  .page-header__search-button {
    width: 56px;
    height: 56px;
    background-position: center;
    top: 50%;
    left: -14px;
  }
}

/* line 146, ../sass/_modules/_page-header.scss */
::-webkit-input-placeholder {
  color: #797979;
}

/* line 147, ../sass/_modules/_page-header.scss */
:-moz-placeholder {
  color: #797979;
}

/* Firefox 18- */
/* line 148, ../sass/_modules/_page-header.scss */
::-moz-placeholder {
  color: #797979;
}

/* Firefox 19+ */
/* line 149, ../sass/_modules/_page-header.scss */
:-ms-input-placeholder {
  color: #797979;
}

@media only screen and (max-width: 767px) {
  /* line 153, ../sass/_modules/_page-header.scss */
  ::-webkit-input-placeholder {
    font-size: 0;
  }

  /* line 154, ../sass/_modules/_page-header.scss */
  :-moz-placeholder {
    font-size: 0;
  }

  /* Firefox 18- */
  /* line 155, ../sass/_modules/_page-header.scss */
  ::-moz-placeholder {
    font-size: 0;
  }

  /* Firefox 19+ */
  /* line 156, ../sass/_modules/_page-header.scss */
  :-ms-input-placeholder {
    font-size: 0;
  }
}
/* line 160, ../sass/_modules/_page-header.scss */
.page-header__go-to-callback-page {
  display: block;
  width: 18px;
  height: 17px;
  margin-right: 2rem;
  background: url("../images/icons/callback-icon.png") no-repeat;
}
/* line 167, ../sass/_modules/_page-header.scss */
.page-header__go-to-callback-page:hover {
  background-image: url("../images/icons/callback-icon__active.png");
}
@media only screen and (max-width: 1023px) {
  /* line 160, ../sass/_modules/_page-header.scss */
  .page-header__go-to-callback-page {
    display: none;
  }
}

/* line 176, ../sass/_modules/_page-header.scss */
.page-header__go-to-questions-page {
  display: block;
  font-size: 22px;
  font-weight: bold;
  color: #797979;
}
/* line 182, ../sass/_modules/_page-header.scss */
.page-header__go-to-questions-page:hover {
  color: #986945;
}
@media only screen and (max-width: 1023px) {
  /* line 176, ../sass/_modules/_page-header.scss */
  .page-header__go-to-questions-page {
    display: none;
  }
}

/* line 1, ../sass/_modules/_page-footer.scss */
.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 6, ../sass/_modules/_page-footer.scss */
.page-footer--container {
  width: 62.5rem;
  height: 100%;
  margin: auto;
}

/* line 12, ../sass/_modules/_page-footer.scss */
.page-footer--bottom-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
}

/* line 20, ../sass/_modules/_page-footer.scss */
.page-footer--contact-details {
  display: none;
}

/* line 27, ../sass/_modules/_page-footer.scss */
.page-footer--social-share-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 31, ../sass/_modules/_page-footer.scss */
.page-footer--social-buttons-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 35, ../sass/_modules/_page-footer.scss */
.page-footer--social-buttons-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 39, ../sass/_modules/_page-footer.scss */
.page-footer--social-buttons__title {
  display: none;
  font-size: 14px;
  color: #797979;
}

/* line 45, ../sass/_modules/_page-footer.scss */
.page-footer__social-tw, .page-footer__social-vk, .page-footer__social-fb {
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 35px;
  height: 30px;
  margin-left: 0.75rem;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #525452;
}
/* line 55, ../sass/_modules/_page-footer.scss */
.page-footer__social-tw:hover, .page-footer__social-vk:hover, .page-footer__social-fb:hover {
  border-color: #986945;
}

/* line 60, ../sass/_modules/_page-footer.scss */
.page-footer__social-tw {
  margin-left: 0;
  background-image: url(../images/social/social-tw-icon.png);
}
/* line 65, ../sass/_modules/_page-footer.scss */
.page-footer__social-tw:hover {
  background-image: url(../images/social/social-tw-icon__active.png);
}

/* line 70, ../sass/_modules/_page-footer.scss */
.page-footer__social-vk {
  background-image: url(../images/social/social-vk-icon.png);
}
/* line 74, ../sass/_modules/_page-footer.scss */
.page-footer__social-vk:hover {
  background-image: url(../images/social/social-vk-icon__active.png);
}

/* line 79, ../sass/_modules/_page-footer.scss */
.page-footer__social-fb {
  background-image: url(../images/social/social-fb-icon.png);
}
/* line 83, ../sass/_modules/_page-footer.scss */
.page-footer__social-fb:hover {
  background-image: url(../images/social/social-fb-icon__active.png);
}

/* line 88, ../sass/_modules/_page-footer.scss */
.page-footer__rights-reserved {
  width: 490px;
  line-height: 1.5em;
  font-size: 14px;
  color: #797979;
}

/* line 95, ../sass/_modules/_page-footer.scss */
.page-footer__site-map-wrap {
  width: 100%;
  margin-top: 1.25rem;
}

/* line 100, ../sass/_modules/_page-footer.scss */
.page-footer__site-map {
  font-size: 14px;
  color: #797979;
  border-bottom: 1px solid #797979;
}
/* line 105, ../sass/_modules/_page-footer.scss */
.page-footer__site-map:hover {
  color: #986945;
  border-color: #986945;
}

/* line 1, ../sass/_modules/_navmenu.scss */
.navmenu__icon {
  display: none;
  height: 100%;
  width: 100%;
}

/* line 7, ../sass/_modules/_navmenu.scss */
.navmenu__icon-open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 25px;
  height: 5px;
}

/* line 14, ../sass/_modules/_navmenu.scss */
.navmenu__icon-open-dot {
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #797979;
}
/* line 21, ../sass/_modules/_navmenu.scss */
.navmenu:hover .navmenu__icon-open-dot {
  background-color: #986945;
}

/* line 26, ../sass/_modules/_navmenu.scss */
.navmenu__icon-close {
  position: relative;
}

/* line 30, ../sass/_modules/_navmenu.scss */
.navmenu__icon-close-cross-line-1, .navmenu__icon-close-cross-line-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2px;
  height: 25px;
  background-color: #797979;
}

/* line 38, ../sass/_modules/_navmenu.scss */
.navmenu__icon-close-cross-line-1 {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -khtml-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

/* line 42, ../sass/_modules/_navmenu.scss */
.navmenu__icon-close-cross-line-2 {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -khtml-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* line 47, ../sass/_modules/_navmenu.scss */
.navmenu__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 50, ../sass/_modules/_navmenu.scss */
.navmenu__container.flexme {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

/* line 59, ../sass/_modules/_navmenu.scss */
.navmenu__item {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -moz-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  font-size: 12px;
  color: #797979;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
}
/* line 67, ../sass/_modules/_navmenu.scss */
.navmenu__item:hover {
  color: #986945;
}

/* line 72, ../sass/_modules/_navmenu.scss */
.navmenu__callback-n-faq {
  display: none;
  background-color: #262524;
  border-top: 2px solid #302e2c;
}

/* line 78, ../sass/_modules/_navmenu.scss */
.navmenu__link {
  display: block;
  height: 100%;
}

/* line 84, ../sass/_modules/_navmenu.scss */
.navmenu__callback .navmenu__link {
  background: url("../images/icons/callback-icon.png") no-repeat center;
}
/* line 87, ../sass/_modules/_navmenu.scss */
.navmenu__callback .navmenu__link:hover {
  background-image: url("../images/icons/callback-icon__active.png");
}

/* line 94, ../sass/_modules/_navmenu.scss */
.navmenu__faq .navmenu__link {
  font-size: 1.5rem;
  font-weight: 600;
}

/* line 104, ../sass/_modules/_navmenu.scss */
.navsubmenu {
  position: absolute;
  bottom: -60px;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  background-color: rgba(48, 46, 46, 0.9);
}

/* line 112, ../sass/_modules/_navmenu.scss */
.navsubmenu__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 62.5rem;
  margin: auto;
}

/* line 123, ../sass/_modules/_navmenu.scss */
.page-header .navmenu__item {
  line-height: 60px;
}

/* line 129, ../sass/_modules/_navmenu.scss */
.navmenu__item:hover .navsubmenu {
  display: block;
}

/* line 134, ../sass/_modules/_navmenu.scss */
.navmenu__sofia-world {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: left;
}

/* line 139, ../sass/_modules/_navmenu.scss */
.navmenu__contact-details {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

/* line 148, ../sass/_modules/_navmenu.scss */
.navmenu__for-architectors-n-designers, .navmenu__for-customer-service {
  -webkit-box-flex: 0 !important;
  -webkit-flex-grow: 0 !important;
  -moz-flex-grow: 0 !important;
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}
/* line 151, ../sass/_modules/_navmenu.scss */
.navmenu__for-architectors-n-designers .navmenu__link, .navmenu__for-customer-service .navmenu__link {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 157, ../sass/_modules/_navmenu.scss */
.navmenu__for-architectors-n-designers {
  margin-left: auto;
  margin-right: 1rem;
}

/* line 163, ../sass/_modules/_navmenu.scss */
.navmenu__for-customer-service {
  margin-right: auto;
}

/* line 174, ../sass/_modules/_navmenu.scss */
.page-footer .navmenu__item {
  position: relative;
}
/* line 179, ../sass/_modules/_navmenu.scss */
.page-footer .navmenu__item:before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: block;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #838383;
}
/* line 189, ../sass/_modules/_navmenu.scss */
.navmenu__item:first-child:before {
  display: none;
}

/* line 3, ../sass/_modules/_keeps-footer-at-the-bottom-of-the-page.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 10, ../sass/_modules/_keeps-footer-at-the-bottom-of-the-page.scss */
.page-wrapper {
  min-height: 100%;
  position: relative;
}

/* line 15, ../sass/_modules/_keeps-footer-at-the-bottom-of-the-page.scss */
main {
  padding-bottom: 245px;
  /* Height of the footer */
}
@media only screen and (max-width: 1023px) {
  /* line 15, ../sass/_modules/_keeps-footer-at-the-bottom-of-the-page.scss */
  main {
    padding-bottom: 252px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 15, ../sass/_modules/_keeps-footer-at-the-bottom-of-the-page.scss */
  main {
    padding-bottom: 472px;
  }
}

/* line 27, ../sass/_modules/_keeps-footer-at-the-bottom-of-the-page.scss */
.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 3, ../sass/_modules/_ya-share.scss */
.ya-share2 .ya-share2__container_size_m .ya-share2__item_more {
  margin: 0;
}

/* line 7, ../sass/_modules/_ya-share.scss */
.ya-share2 .ya-share2__badge_more {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 11, ../sass/_modules/_ya-share.scss */
.ya-share2 .ya-share2__icon_more {
  display: block;
  background-color: white;
  border: none;
  vertical-align: initial;
}
/* line 17, ../sass/_modules/_ya-share.scss */
.ya-share2 .ya-share2__icon_more:before {
  display: none;
}
/* line 21, ../sass/_modules/_ya-share.scss */
.ya-share2 .ya-share2__icon_more:after {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #797979;
}
@media only screen and (max-width: 1023px) {
  /* line 21, ../sass/_modules/_ya-share.scss */
  .ya-share2 .ya-share2__icon_more:after {
    font-size: 16px;
  }
}

/* line 34, ../sass/_modules/_ya-share.scss */
.ya-share2 .ya-share2__container_size_m .ya-share2__icon_more {
  width: initial;
  height: initial;
  background: none;
}

/* line 46, ../sass/_modules/_ya-share.scss */
.ya-share2 {
  margin-right: 1.5rem;
}

/* line 51, ../sass/_modules/_ya-share.scss */
.ya-share2 .ya-share2__container_size_m .ya-share2__icon_more {
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  line-height: 30px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 1px solid #525452;
}
/* line 58, ../sass/_modules/_ya-share.scss */
.ya-share2 .ya-share2__container_size_m .ya-share2__icon_more:hover {
  border-color: #986945;
}
/* line 61, ../sass/_modules/_ya-share.scss */
.ya-share2 .ya-share2__container_size_m .ya-share2__icon_more:hover:after {
  color: #986945;
}
@media only screen and (max-width: 1023px) {
  /* line 51, ../sass/_modules/_ya-share.scss */
  .ya-share2 .ya-share2__container_size_m .ya-share2__icon_more {
    -webkit-border-radius: 16px;
    -khtml-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    line-height: 38px;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

/* line 74, ../sass/_modules/_ya-share.scss */
.ya-share2__icon_more:after {
  content: "Share";
}

/* line 78, ../sass/_modules/_ya-share.scss */
.ya-share2 div.ya-share2__popup {
  position: absolute;
  top: -40px;
  right: -125px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  background-color: #302e2c;
  border: 1px solid #525452;
}
/* line 85, ../sass/_modules/_ya-share.scss */
.ya-share2 div.ya-share2__popup:hover {
  border-color: #986945;
}
@media only screen and (max-width: 1023px) {
  /* line 78, ../sass/_modules/_ya-share.scss */
  .ya-share2 div.ya-share2__popup {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    top: -20px;
    right: 105px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 78, ../sass/_modules/_ya-share.scss */
  .ya-share2 div.ya-share2__popup {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    top: 50px;
    left: -35px;
    right: initial;
  }
}

/* line 105, ../sass/_modules/_ya-share.scss */
.ya-share2__container_size_m li.ya-share2__item {
  margin-bottom: 10px;
}

/* line 109, ../sass/_modules/_ya-share.scss */
.ya-share2 .ya-share2__title {
  color: #797979;
}
/* line 112, ../sass/_modules/_ya-share.scss */
.ya-share2 .ya-share2__title:hover {
  color: #986945;
}

@media only screen and (max-width: 1023px) {
  /* line 120, ../sass/_modules/_ya-share.scss */
  div.ya-share2__container_size_m .ya-share2__icon {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 127, ../sass/_modules/_ya-share.scss */
  div.ya-share2__container_size_m .ya-share2__title {
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 136, ../sass/_modules/_ya-share.scss */
  .ya-share2__list li.ya-share2__item {
    margin-top: 20px;
    margin-bottom: 0;
  }
  /* line 141, ../sass/_modules/_ya-share.scss */
  .ya-share2__list li.ya-share2__item:first-child {
    margin-top: 0;
  }
}

/* line 3, ../sass/_modules/_owl-carousel.scss */
.owl-item {
  width: 100%;
  height: 480px;
  background: url("../images/banner/banner-pic-1__resolution-high.jpg") no-repeat center;
}

/* Slider */
/* line 3, ../sass/_modules/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 18, ../sass/_modules/slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 25, ../sass/_modules/slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 29, ../sass/_modules/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 35, ../sass/_modules/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 44, ../sass/_modules/slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 50, ../sass/_modules/slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 56, ../sass/_modules/slick.scss */
.slick-track:after {
  clear: both;
}
/* line 60, ../sass/_modules/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 65, ../sass/_modules/slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 69, ../sass/_modules/slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 72, ../sass/_modules/slick.scss */
.slick-slide img {
  display: block;
}
/* line 75, ../sass/_modules/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 81, ../sass/_modules/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 85, ../sass/_modules/slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 89, ../sass/_modules/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 93, ../sass/_modules/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 100, ../sass/_modules/slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* line 45, ../sass/_modules/slick-theme.scss */
.slick-loading .slick-list {
  background: #fff url('/assets/images/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url('/assets/fonts/slick.eot');
  src: url('/assets/fonts/slick.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/slick.woff') format("woff"), url('/assets/fonts/slick.ttf') format("truetype"), url('/assets/fonts/slick.svg#slick') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
/* line 63, ../sass/_modules/slick-theme.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
/* line 81, ../sass/_modules/slick-theme.scss */
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
/* line 85, ../sass/_modules/slick-theme.scss */
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
/* line 89, ../sass/_modules/slick-theme.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
/* line 92, ../sass/_modules/slick-theme.scss */
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 103, ../sass/_modules/slick-theme.scss */
.slick-prev {
  left: -25px;
}
/* line 105, ../sass/_modules/slick-theme.scss */
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
/* line 109, ../sass/_modules/slick-theme.scss */
.slick-prev:before {
  content: "←";
}
/* line 111, ../sass/_modules/slick-theme.scss */
[dir="rtl"] .slick-prev:before {
  content: "→";
}

/* line 117, ../sass/_modules/slick-theme.scss */
.slick-next {
  right: -25px;
}
/* line 119, ../sass/_modules/slick-theme.scss */
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
/* line 123, ../sass/_modules/slick-theme.scss */
.slick-next:before {
  content: "→";
}
/* line 125, ../sass/_modules/slick-theme.scss */
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
/* line 133, ../sass/_modules/slick-theme.scss */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

/* line 137, ../sass/_modules/slick-theme.scss */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 146, ../sass/_modules/slick-theme.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 154, ../sass/_modules/slick-theme.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 166, ../sass/_modules/slick-theme.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 168, ../sass/_modules/slick-theme.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 172, ../sass/_modules/slick-theme.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 189, ../sass/_modules/slick-theme.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* line 199, ../sass/_modules/slick-theme.scss */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* line 203, ../sass/_modules/slick-theme.scss */
.slick-slide {
  height: 480px;
}
/* line 206, ../sass/_modules/slick-theme.scss */
.slick-slide:before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 215, ../sass/_modules/slick-theme.scss */
.slick-slide01 {
  background: url("../images/banner/banner-pic-1.jpg") no-repeat center;
}

/* line 219, ../sass/_modules/slick-theme.scss */
.slick-slide02 {
  background: url("../images/banner/banner-pic-2.jpg") no-repeat center;
}

/* line 223, ../sass/_modules/slick-theme.scss */
.slick-slide03 {
  background: url("../images/banner/banner-pic-3.jpg") no-repeat center;
}

/* line 227, ../sass/_modules/slick-theme.scss */
.slick-slide04 {
  background: url("../images/banner/banner-pic-4.jpg") no-repeat center;
}

/* line 231, ../sass/_modules/slick-theme.scss */
ul.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transform: translate(-50%, 0);
  -khtml-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  width: initial;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(0, 0, 0, 0.45);
  left: 50%;
  bottom: 15px;
}

/* line 247, ../sass/_modules/slick-theme.scss */
ul.slick-dots li {
  width: initial;
  height: initial;
  margin-left: 10px;
  margin-right: 0;
}
/* line 253, ../sass/_modules/slick-theme.scss */
ul.slick-dots li:first-child {
  margin-left: 0;
}
/* line 257, ../sass/_modules/slick-theme.scss */
ul.slick-dots li.slick-active {
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
  transition-duration: 0s !important;
}

/* line 264, ../sass/_modules/slick-theme.scss */
ul.slick-dots button {
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: relative;
}
/* line 270, ../sass/_modules/slick-theme.scss */
ul.slick-dots button:before {
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  width: 6px;
  height: 6px;
  background-color: #fff;
  opacity: initial !important;
}
/* line 282, ../sass/_modules/slick-theme.scss */
ul.slick-dots button:hover:before, ul.slick-dots button:focus:before {
  opacity: initial;
}

@media only screen and (max-width: 1023px) {
  /* line 1, ../sass/_media/_media___page-footer.scss */
  .page-footer {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 2.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1, ../sass/_media/_media___page-footer.scss */
  .page-footer {
    padding-top: 1.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 22, ../sass/_media/_media___page-footer.scss */
  .page-footer--container {
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 28, ../sass/_media/_media___page-footer.scss */
  .page-footer--bottom-block {
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 28, ../sass/_media/_media___page-footer.scss */
  .page-footer--bottom-block {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 39, ../sass/_media/_media___page-footer.scss */
  .page-footer--contact-details {
    display: block;
  }
}
@media only screen and (max-width: 1023px) and (max-width: 767px) {
  /* line 44, ../sass/_media/_media___page-footer.scss */
  .page-footer--contact-details .details__title {
    font-size: 13px;
  }
}

@media only screen and (max-width: 767px) {
  /* line 51, ../sass/_media/_media___page-footer.scss */
  .page-footer--social-share-block {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  /* line 51, ../sass/_media/_media___page-footer.scss */
  .page-footer--social-share-block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 62, ../sass/_media/_media___page-footer.scss */
  .ya-share2 {
    order: 1;
    margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 62, ../sass/_media/_media___page-footer.scss */
  .ya-share2 {
    order: 0;
  }
}

/* line 73, ../sass/_media/_media___page-footer.scss */
.page-footer--social-buttons-container {
  margin-right: 2.5rem;
}
@media only screen and (max-width: 767px) {
  /* line 73, ../sass/_media/_media___page-footer.scss */
  .page-footer--social-buttons-container {
    margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 73, ../sass/_media/_media___page-footer.scss */
  .page-footer--social-buttons-container {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 87, ../sass/_media/_media___page-footer.scss */
  .page-footer--social-buttons__title {
    display: block;
    margin-right: 1.25rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 87, ../sass/_media/_media___page-footer.scss */
  .page-footer--social-buttons__title {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  /* line 98, ../sass/_media/_media___page-footer.scss */
  .page-footer--social-buttons-block {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 104, ../sass/_media/_media___page-footer.scss */
  .page-footer__social-tw, .page-footer__social-vk, .page-footer__social-fb {
    -webkit-border-radius: 16px;
    -khtml-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    width: 44px;
    height: 38px;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 112, ../sass/_media/_media___page-footer.scss */
  .page-footer__rights-reserved {
    width: 680px;
    margin-top: 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 112, ../sass/_media/_media___page-footer.scss */
  .page-footer__rights-reserved {
    width: 100%;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 124, ../sass/_media/_media___page-footer.scss */
  .page-footer__site-map-wrap {
    margin-top: 1.75rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 124, ../sass/_media/_media___page-footer.scss */
  .page-footer__site-map-wrap {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 6, ../sass/_media/_media__navmenu.scss */
  .page-header .navmenu {
    height: 56px;
    width: 56px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 15, ../sass/_media/_media__navmenu.scss */
  .navmenu__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 25, ../sass/_media/_media__navmenu.scss */
  .page-header .navmenu__container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    display: none;
    width: 100%;
    background-color: #302e2c;
    position: absolute;
    left: 0;
    top: 56px;
    z-index: 1;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 40, ../sass/_media/_media__navmenu.scss */
  .page-header .navmenu__item {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 40, ../sass/_media/_media__navmenu.scss */
  .page-header .navmenu__item {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  /* line 52, ../sass/_media/_media__navmenu.scss */
  .navmenu__callback,
  .navmenu__faq {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 62, ../sass/_media/_media__navmenu.scss */
  .page-header .navmenu__link {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 71, ../sass/_media/_media__navmenu.scss */
  .navmenu__sofia-world .navmenu__item-span, .navmenu__company-products .navmenu__item-span, .navmenu__interior-solutions .navmenu__item-span, .navmenu__for-buyers .navmenu__item-span {
    padding-right: 30px;
  }
  /* line 76, ../sass/_media/_media__navmenu.scss */
  .navmenu__for-specialists > .navmenu__item-span, .navmenu__for-customer-service .navmenu__item-span {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 84, ../sass/_media/_media__navmenu.scss */
  .navmenu__sofia-world,
  .navmenu__company-products,
  .navmenu__interior-solutions,
  .navmenu__for-buyers {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
  }

  /* line 92, ../sass/_media/_media__navmenu.scss */
  .navmenu__for-specialists,
  .navmenu__where-to-buy,
  .navmenu__contact-details {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  /* line 101, ../sass/_media/_media__navmenu.scss */
  .navmenu__sofia-world,
  .navmenu__contact-details {
    text-align: center;
  }
}
@media only screen and (max-width: 1023px) {
  /* line 112, ../sass/_media/_media__navmenu.scss */
  .page-header .navmenu__sofia-world {
    order: 0;
  }
  /* line 113, ../sass/_media/_media__navmenu.scss */
  .page-header .navmenu__for-specialists {
    order: 1;
  }
  /* line 114, ../sass/_media/_media__navmenu.scss */
  .page-header .navmenu__company-products {
    order: 2;
  }
  /* line 115, ../sass/_media/_media__navmenu.scss */
  .page-header .navmenu__where-to-buy {
    order: 3;
  }
  /* line 116, ../sass/_media/_media__navmenu.scss */
  .page-header .navmenu__interior-solutions {
    order: 4;
  }
  /* line 117, ../sass/_media/_media__navmenu.scss */
  .page-header .navmenu__contact-details {
    order: 5;
  }
  /* line 118, ../sass/_media/_media__navmenu.scss */
  .page-header .navmenu__for-buyers {
    order: 6;
  }
  /* line 119, ../sass/_media/_media__navmenu.scss */
  .page-header .navmenu__callback-n-faq {
    order: 7;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 123, ../sass/_media/_media__navmenu.scss */
  .navmenu__callback-n-faq {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 134, ../sass/_media/_media__navmenu.scss */
  .navsubmenu {
    position: initial;
    background-color: #262524;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 134, ../sass/_media/_media__navmenu.scss */
  .navsubmenu {
    width: 200%;
  }
  /* line 143, ../sass/_media/_media__navmenu.scss */
  .navmenu__for-specialists .navsubmenu {
    margin-left: -100%;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 149, ../sass/_media/_media__navmenu.scss */
  .navsubmenu__container {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 149, ../sass/_media/_media__navmenu.scss */
  .navsubmenu__container {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 162, ../sass/_media/_media__navmenu.scss */
  .navsubmenu .navmenu__item:nth-child(odd) {
    text-align: right;
  }
  /* line 163, ../sass/_media/_media__navmenu.scss */
  .navsubmenu .navmenu__item:nth-child(even) {
    text-align: left;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 168, ../sass/_media/_media__navmenu.scss */
  .navmenu__for-architectors-n-designers {
    margin: 0;
  }
}

@media only screen and (max-width: 1023px) {
  /* line 174, ../sass/_media/_media__navmenu.scss */
  .navmenu__for-customer-service {
    margin: 0;
  }
  /* line 178, ../sass/_media/_media__navmenu.scss */
  .navmenu__for-customer-service .navmenu__link {
    padding-left: 0;
  }
}

/* line 185, ../sass/_media/_media__navmenu.scss */
.navmenu .navmenu__icon-close {
  display: none;
}

@media only screen and (max-width: 1023px) {
  /* line 194, ../sass/_media/_media__navmenu.scss */
  .page-footer .navmenu {
    display: none;
  }
}
