.navmenu__icon {
    display: none;
    height: 100%;
    width: 100%;
}

.navmenu__icon-open {
    @include flex-parent($justify-content: space-between);
    width: 25px;
    height: 5px;
}


.navmenu__icon-open-dot {
    @include border-radius();
    display: block;
    width: 5px;
    height: 5px;
    background-color: $menu-text-color;

    .navmenu:hover & {
        background-color: $active-color;
    }
}

.navmenu__icon-close {
    position: relative;
}

%navmenu__icon-close-cross-line {
    @include absolute(top 50% left 50%);
    display: block;
    width: 2px;
    height: 25px;
    background-color: $menu-text-color;
}

.navmenu__icon-close-cross-line-1 {
    @extend %navmenu__icon-close-cross-line;
    @include transform(translate(-50%, -50%) rotate(45deg))
}
.navmenu__icon-close-cross-line-2 {
    @extend %navmenu__icon-close-cross-line;
    @include transform(translate(-50%, -50%) rotate(-45deg));
}

.navmenu__container {
    @include flex-parent();

    &.flexme {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

.navmenu__item {
    @include flex-grow(2);
    font-size: 12px;
    color: $menu-text-color;
    text-transform: uppercase;
    text-align: center;
    cursor: default;

    &:hover {
        color: $active-color;
    }
}

.navmenu__callback-n-faq {
    display: none;
    background-color: $submenu-bg;
    border-top: 2px solid $body-bg;
}

.navmenu__link {
    display: block;
    height: 100%;
}

.navmenu__callback {
    .navmenu__link {
        background: url("../images/icons/callback-icon.png") no-repeat center;

        &:hover {
            background-image: url("../images/icons/callback-icon__active.png");
        }
    }
}

.navmenu__faq {
    .navmenu__link {
        font-size: $font-size-xxxmedium;
        font-weight: 600;
    }
}



// submenu

.navsubmenu {
    @include absolute(bottom -60px left 0);
    z-index: 1;
    display: none;
    width: 100%;
    background-color: rgba(48, 46, 46, .9);
}

.navsubmenu__container {
    @include flex-parent();
    width: $content-container;
    margin: auto;
}



// Particular cases

.navmenu__item {
    .page-header & {
        line-height: 60px;
    }
}

.navmenu__item {
    &:hover .navsubmenu {
        display: block;
    }
}

.navmenu__sofia-world {
    @include flex-grow(1);
    text-align: left;
}

.navmenu__contact-details {
    @include flex-grow(1);
    text-align: right;
}

.navmenu__contact-details {

}

%no-space-between {
    @include flex-grow(0 !important);

    .navmenu__link {
        padding-left: $spacing-medium;
        padding-right: $spacing-medium;
    }
}

.navmenu__for-architectors-n-designers {
    @extend %no-space-between;
    margin-left: auto;
    margin-right: $spacing-medium;
}

.navmenu__for-customer-service {
    @extend %no-space-between;
    margin-right: auto;
}



// Page footer particularities

.navmenu__item {

    .page-footer & {
        position: relative;
    }

    // adds vertical dividers
    .page-footer &:before {
        @include absolute(top 50% left 0);
        @include translate(0, -50%);
        display: block;
        content: "";
        width: 1px;
        height: 12px;
        background-color: $footer-navmenu-dividers;
    }

    &:first-child:before {
        display: none;
    }
}



// temporary styles