.page-footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.page-footer--container {
    width: $content-container;
    height: 100%;
    margin: auto;
}

.page-footer--bottom-block {
    @include flex-parent(
            $justify-content: space-between,
            $align-items: flex-start
    );
    margin-top: 50px;
}

.page-footer--contact-details {
    @extend %title-contact-details;
    display: none;
}


// share block
.page-footer--social-share-block {
    @include flex-parent();
}

.page-footer--social-buttons-container {
    @include flex-parent($align-items: center);
}

.page-footer--social-buttons-block {
    @include flex-parent();
}

.page-footer--social-buttons__title {
    display: none;
    font-size: 14px;
    color: $menu-text-color;
}

%social-link {
    @include border-radius(8px);
    display: block;
    width: 35px;
    height: 30px;
    margin-left: $spacing-small;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $footer-button-border-color;

    &:hover {
        border-color: $active-color;
    }
}

.page-footer__social-tw {
    @extend %social-link;
    margin-left: 0;
    background-image: url(../images/social/social-tw-icon.png);

    &:hover {
        background-image: url(../images/social/social-tw-icon__active.png);
    }
}

.page-footer__social-vk {
    @extend %social-link;
    background-image: url(../images/social/social-vk-icon.png);

    &:hover {
        background-image: url(../images/social/social-vk-icon__active.png);
    }
}

.page-footer__social-fb {
    @extend %social-link;
    background-image: url(../images/social/social-fb-icon.png);

    &:hover {
        background-image: url(../images/social/social-fb-icon__active.png);
    }
}

.page-footer__rights-reserved {
    width: 490px;
    line-height: 1.5em;
    font-size: 14px;
    color: $menu-text-color;
}

.page-footer__site-map-wrap {
    width: 100%;
    margin-top: $spacing-xmedium;
}

.page-footer__site-map {
    font-size: 14px;
    color: $menu-text-color;
    border-bottom: 1px solid $menu-text-color;

    &:hover {
        color: $active-color;
        border-color: $active-color;
    }
}


// temporary styles