.page-header {
    padding-top: 30px;
    position: relative;

    @include media-query(screen-size-medium) {
        padding-top: 0;
    }
}

.page-header--container {
    width: $content-container;
    margin: auto;

    @include media-query(screen-size-medium) {
        @include flex-parent($justify-content: space-between);
        @include box-sizing();
        width: 100%;

        // .navmenu__container positioning
        position: relative;
    }
}

.page-header--top-block {
    @include flex-parent($justify-content: space-between, $align-items: center);
    @include media-query(screen-size-medium) {
        @include flex-grow(1);
    }
}


// title contact details
%title-contact-details {
    color: $menu-text-color;

    .contact-details__phone { font-size: 22px; }
    .contact-details__title { font-size: 13px; }
}

.page-header--contact-details {
    @extend %title-contact-details;

    @include media-query(screen-size-medium) {
        display: none;
    }
}

.page-header--company-logo {
    display: block;
    width: 284px;
    height: 20px;
    background: url("../images/logo/company-logo.png") no-repeat;

    @include media-query(screen-size-medium) {
        @include absolute(top 0.75rem left 50%);
        @include translate(-50%, 0);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        order: 1;
        width: 183px;
        height: 36px;
        margin-right: auto;
        margin-left: auto;
        background-image: url("../images/logo/company-logo__768.png");
    }

    @include media-query(screen-size-small) {
        width: 162px;
        height: 36px;
        background-image: url("../images/logo/company-logo__320.png");
    }
}

.page-header--search-block {
    @include flex-parent($align-items: center);

    @include media-query(screen-size-medium) {
        order: 0;
    }
}

.page-header__search-form {
    @include border-radius(14px);
    margin-right: $spacing-medium;
    border: 1px solid $border-color-gray;
    position: relative;

    &:hover {
        border-color: $active-color;
    }

    @include media-query(screen-size-medium) {
        //border: none;
        margin-left: 14px;
        border-color: transparent;
    }
}

.page-header__search-input {
    @include border-radius(13px);
    @include box-sizing();
    display: block;
    width: 175px;
    height: 30px;
    padding-left: $spacing-small;
    padding-right: $spacing-xxxmedium;
    color: $menu-text-color;
    background-color: transparent;
    cursor: pointer;

    @include media-query(screen-size-medium) {
        display: none;
        width: 260px;
        padding-left: $spacing-xxxmedium;
        padding-right: $spacing-small;
    }

    @include media-query(screen-size-small) {
        width: 220px;
    }
}

.page-header__search-button {
    @include absolute(top 50% right 8px);
    @include translate(0, -50%);
    display: block;
    width: 19px;
    height: 19px;
    background: url("../images/icons/magnifier-icon.png") no-repeat;

    .page-header__search-form:hover & {
        background-image: url("../images/icons/magnifier-icon__active.png");
    }

    @include media-query(screen-size-medium) {
        width: 56px;
        height: 56px;
        background-position: center;
        //background-color: red;
        top: 50%;
        left: -14px;
    }
}

::-webkit-input-placeholder { color: $menu-text-color; }
:-moz-placeholder { color: $menu-text-color; } /* Firefox 18- */
::-moz-placeholder { color: $menu-text-color; }  /* Firefox 19+ */
:-ms-input-placeholder { color: $menu-text-color; }

// hide search input placeholder when 320
@include media-query(screen-size-small) {
    ::-webkit-input-placeholder { font-size: 0; }
    :-moz-placeholder { font-size: 0; } /* Firefox 18- */
    ::-moz-placeholder { font-size: 0; }  /* Firefox 19+ */
    :-ms-input-placeholder { font-size: 0; }
}


.page-header__go-to-callback-page {
    display: block;
    width: 18px;
    height: 17px;
    margin-right: $spacing-large;
    background: url("../images/icons/callback-icon.png") no-repeat;

    &:hover {
        background-image: url("../images/icons/callback-icon__active.png");
    }

    @include media-query(screen-size-medium) {
        display: none;
    }
}

.page-header__go-to-questions-page {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: $menu-text-color;

    &:hover {
        color: $active-color;
    }

    @include media-query(screen-size-medium) {
        display: none;
    }
}