// Resets initial styles to minimum

.ya-share2 .ya-share2__container_size_m .ya-share2__item_more {
    margin: 0;
}

.ya-share2 .ya-share2__badge_more {
    @include border-radius(0);
}

.ya-share2 .ya-share2__icon_more {
    display: block;
    background-color: white;
    border: none;
    vertical-align: initial;

    &:before {
        display: none;
    }

    &:after {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 14px;
        color: $menu-text-color;

        @include media-query(screen-size-medium) {
            font-size: 16px;
        }
    }
}

.ya-share2 .ya-share2__container_size_m .ya-share2__icon_more {
    width: initial;
    height: initial;
    background: none;
}



// Individual styles according to project needs

$buttonTitle: "Share";

.ya-share2 {
    margin-right: $spacing-xxmedium;
}

// стилизация кнопки
.ya-share2 .ya-share2__container_size_m .ya-share2__icon_more {
    @include border-radius(15px);
    line-height: 30px;
    padding-left: $spacing-xmedium;
    padding-right: $spacing-xmedium;
    border: 1px solid $footer-button-border-color;

    &:hover {
        border-color: $active-color;

        &:after {
            color: $active-color;
        }
    }

    @include media-query(screen-size-medium) {
        @include border-radius(16px);
        line-height: 38px;
        padding-left: $spacing-xxxmedium;
        padding-right: $spacing-xxxmedium;
    }
}

.ya-share2__icon_more:after {
    content: $buttonTitle;
}

.ya-share2 div.ya-share2__popup {
    @include absolute(top -40px right -125px);
    @include border-radius(5px);
    @include box-shadow(0 0 0 0);
    background-color: $body-bg;
    border: 1px solid $footer-button-border-color;

    &:hover {
        border-color: $active-color;
    }

    @include media-query(screen-size-medium) {
        padding-top: $spacing-small;
        padding-bottom: $spacing-small;
        top: -20px;
        right: 105px;
    }

    @include media-query(screen-size-small) {
        padding-left: $spacing-xmedium;
        padding-right: $spacing-xmedium;
        top: 50px;
        left: -35px;
        right: initial;
    }
}

.ya-share2__container_size_m li.ya-share2__item {
    margin-bottom: 10px;
}

.ya-share2 .ya-share2__title {
    color: $menu-text-color;

    &:hover {
        color: $active-color;
    }
}


// media

div.ya-share2__container_size_m .ya-share2__icon {
    @include media-query(screen-size-medium) {
        width: 40px;
        height: 40px;
    }
}

div.ya-share2__container_size_m .ya-share2__title {
    @include media-query(screen-size-medium) {
        line-height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
}

li.ya-share2__item {
    .ya-share2__list & {
        @include media-query(screen-size-medium) {
            margin-top: 20px;
            margin-bottom: 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}