.pictured-container
    .pictured-block--banner
        .slick-slider
            div.slick-slide01
                a.banner__link(href="#banner-goes-to")
                    .banner--text-content
                        .banner--text-content__title Новая коллекция Phantom
                        .banner--text-content__text.
                            Невесомое полотно из цельного стекла
                            бесшумно скользит вдоль лаконичной направляющей,
                            удивляя совершенством формы и легкостью

            div.slick-slide02
                a.banner__link(href="#banner-goes-to")
                    .banner--text-content
                        .banner--text-content__title Sofia в передаче Квартирный вопрос
                        .banner--text-content__text.
                            Коллекция Classic в отделке белый матовый лак.
                            Смотрите в субботу 25 июня в 11:50, на НТВ.
                            Повтор - среда, 29 июня в 02:00


            div.slick-slide03
                a.banner__link(href="#banner-goes-to")
                    .banner--text-content
                        .banner--text-content__title Тренды Милана в салонах Sofia
                        .banner--text-content__text.
                            Прошло больше месяца как Salon del Mobile 2016
                            официально закрыл свои двери для посетителей.
                            Пришло время подвести итоги


            div.slick-slide04
                a.banner__link(href="#banner-goes-to")
                .banner--text-content
                    .banner--text-content__title Sofia в передаче Школа ремонта
                    .banner--text-content__text.
                        Коллекция Bridge на уникальной сдвижной системе Compack 180.
                        Смотрите на телеканале ТНТ в субботу 2 июля в 11-00.
                        Повтор в пятницу 8 июля в 10:30


    .pictured-block__section
        .pictured-block__doors
            a.pictured-block__link(href="#doors")
                .pictured-block__picture-container
                .pictured-block--text-content
                    .pictured-block--text-content__title Двери
                    .pictured-block--text-content__text.
                        Авторские дизайнерские коллекции для любого стилевого решения
                .pictured-block--cover
                    .pictured-block--cover__title Двери
                    .pictured-block--cover__text.
                        Авторские дизайнерские коллекции дверей Софья
                        это результат постоянного изучения современных тенденций
                        в мире дизайна и моды. Актуальные тренды и классические формы –
                        здесь вы найдёте двери в нужном стиле.

        .pictured-block__engineering
            a.pictured-block__link(href="#engineering")
                .pictured-block__picture-container
                .pictured-block--text-content
                    .pictured-block--text-content__title Engineering
                    .pictured-block--text-content__text.
                        Эволюция межкомнатной двери: сдвижные, складные и вращающиеся двери
                .pictured-block--cover
                    .pictured-block--cover__title Engineering
                    .pictured-block--cover__text.
                        Sofia Engineering – это новый концепт организации жилого пространства,
                        инновационные, технологичные и эффективные системы сдвижных дверей и перегородок,
                        защищенные российскими и международными патентами.

        .pictured-block__parquet
            a.pictured-block__link(href="#parquet")
                .pictured-block__picture-container
                .pictured-block--text-content
                    .pictured-block--text-content__title Паркет
                    .pictured-block--text-content__text.
                        Последние тренды в мире моды для Вашего интерьера
                .pictured-block--cover
                    .pictured-block--cover__title Паркет
                    .pictured-block--cover__text.
                        Инновационные функциональные характеристики паркетной
                        доски позволят точно проектировать нужный пол
                        в каждой из жилых зон вашего дома.

    .pictured-block__designers
        a.pictured-block__link(href="#designers")
            .pictured-block__picture-container
            .pictured-block--text-content
                .pictured-block--text-content__title Дизайнеры
                .pictured-block--text-content__text.
                    Мы работаем с лучшими мастерами Италии
            .pictured-block--cover
                .pictured-block--cover__title Дизайнеры
                .pictured-block--cover__text.
                    Дизайн это лучший способ донести до каждого нашу задачу –
                    создавать настоящие ценности.
                    С нами работают лучшие итальянские дизайнеры,
                    разделяющие наши убеждения.

    .pictured-block__interior-solutions
        a.pictured-block__link(href="#interior-solutions")
            .pictured-block__picture-container
            .pictured-block--text-content
                .pictured-block--text-content__title Интерьерные решения
                .pictured-block--text-content__text.
                    Экспертное мнение для создания стильного жилого пространства
            .pictured-block--cover
                .pictured-block--cover__title Интерьерные решения
                .pictured-block--cover__text