.page-footer {
    @include media-query(screen-size-medium) {
        @include box-sizing();
        padding: {
            top: $spacing-xlarge;
            left: $spacing-xmedium;
            right: $spacing-xmedium;
            bottom: $spacing-xlarge;
        }
    }

    @include media-query(screen-size-small) {
        padding: {
            top: $spacing-xxxmedium;
            left: $spacing-xmedium;
            right: $spacing-xmedium;
            bottom: $spacing-xlarge;
        }
    }
}

.page-footer--container {
    @include media-query(screen-size-medium) {
        width: 100%;
    }
}

.page-footer--bottom-block {
    @include media-query(screen-size-medium) {
        margin-top: 0;
    }

    @include media-query(screen-size-small) {
        @include flex-direction(column);
        @include align-items(center);
    }
}

.page-footer--contact-details {
    @include media-query(screen-size-medium) {
        display: block;

        @include media-query(screen-size-small) {
            .details__title {
                font-size: 13px;
            }
        }
    }
}

.page-footer--social-share-block {
    @include media-query(screen-size-small) {
        @include flex-direction(column);
    }

    @include media-query(screen-size-small) {
        @include align-items(center);
        margin-top: $spacing-large;
    }
}

.ya-share2 {
    @include media-query(screen-size-medium) {
        order: 1;
        margin-right: 0;
    }

    @include media-query(screen-size-small) {
        order: 0;
    }
}

.page-footer--social-buttons-container {
    margin-right: $spacing-xlarge;

    @include media-query(screen-size-small) {
        margin-right: 0;
    }

    @include media-query(screen-size-small) {
        @include flex-direction(column);
        @include justify-content(center);
        margin-top: $spacing-large;
    }
}

.page-footer--social-buttons__title {
    @include media-query(screen-size-medium-only) {
        display: block;
        margin-right: $spacing-xmedium;
    }

    @include media-query(screen-size-small) {
        display: block;
    }
}

.page-footer--social-buttons-block {
    @include media-query(screen-size-small) {
        margin-top: $spacing-xxmedium;
    }
}

%social-link {
    @include media-query(screen-size-medium) {
        @include border-radius(16px);
        width: 44px;
        height: 38px;
    }
}

.page-footer__rights-reserved {
    @include media-query(screen-size-medium) {
        width: 680px;
        margin-top: $spacing-xlarge;
    }

    @include media-query(screen-size-small) {
        width: 100%;
        margin-top: $spacing-large;
    }
}

.page-footer__site-map-wrap {
    @include media-query(screen-size-medium) {
        margin-top: $spacing-xxxmedium;
    }

    @include media-query(screen-size-small) {
        margin-top: $spacing-xxmedium;
    }
}