// This document contains navmenu styles for tablets and mobile screens only

// page header navmenu styles only

.page-header {
    .navmenu {
        @include media-query(screen-size-medium) {
            height: 56px;
            width: 56px;
            cursor: pointer;
        }
    }
}

.navmenu__icon {
    @include media-query(screen-size-medium) {
        @include flex-parent(
            $justify-content: center,
            $align-items: center
        );
    }
}

.page-header {
    .navmenu__container {
        @include media-query(screen-size-medium) {
            @include align-items(flex-start);
            display: none;
            width: 100%;
            background-color: $body-bg;
            position: absolute;
            left: 0;
            top: 56px;
            z-index: 1;
        }
    }
}

.page-header {
    .navmenu__item {
        @include media-query(screen-size-medium) {
            @include flex-grow(0);
            font-size: $font-size-small;
        }

        @include media-query(screen-size-medium-only) {
            width: 50%;
        }
    }
}

.navmenu__callback,
.navmenu__faq {
    @include media-query(screen-size-small) {
        width: 50%;
    }
}


// .navmenu__link and .navmenu__item-span side paddings
.page-header {
    .navmenu__link {
        @include media-query(screen-size-medium-only) {
            padding-left: 30px;
        }
    }
}

.navmenu__item-span {
    @include media-query(screen-size-medium-only) {
        .navmenu__sofia-world &,
        .navmenu__company-products &,
        .navmenu__interior-solutions &,
        .navmenu__for-buyers & { padding-right: 30px; }

        .navmenu__for-specialists > &,
        .navmenu__for-customer-service & { padding-left: 30px; }
    }
}


// resets particular large screen styles
@include media-query(screen-size-medium-only) {
    .navmenu__sofia-world,
    .navmenu__company-products,
    .navmenu__interior-solutions,
    .navmenu__for-buyers {
        @include box-sizing();
        text-align: right;
    }

    .navmenu__for-specialists,
    .navmenu__where-to-buy,
    .navmenu__contact-details {
        @include box-sizing();
        text-align: left;
    }
}

@include media-query(screen-size-small) {
    .navmenu__sofia-world,
    .navmenu__contact-details {
        text-align: center;
    }
}



// changes .navmenu__item order
.page-header {
    @include media-query(screen-size-medium) {
        .navmenu__sofia-world { order: 0; }
        .navmenu__for-specialists { order: 1; }
        .navmenu__company-products { order: 2; }
        .navmenu__where-to-buy { order: 3; }
        .navmenu__interior-solutions { order: 4; }
        .navmenu__contact-details { order: 5; }
        .navmenu__for-buyers { order: 6; }
        .navmenu__callback-n-faq { order: 7; }
    }
}

.navmenu__callback-n-faq {
    @include media-query(screen-size-medium) {
        @include flex-parent();
        width: 100%;
    }
}




// navsubmenu
.navsubmenu {
    @include media-query(screen-size-medium) {
        position: initial;
        background-color: $submenu-bg;
    }

    @include media-query(screen-size-medium-only) {
        width: 200%;

        .navmenu__for-specialists & {
            margin-left: -100%;
        }
    }
}

.navsubmenu__container {
    @include media-query(screen-size-medium) {
        width: 100%;
    }

    @include media-query(screen-size-small) {
        @include flex-direction(column);
    }
}

.navsubmenu {
    .navmenu__item {
        @include media-query(screen-size-medium-only) {
            &:nth-child(odd) { text-align: right; }
            &:nth-child(even) { text-align: left; }
        }
    }
}

.navmenu__for-architectors-n-designers {
    @include media-query(screen-size-medium) {
        margin: 0;
    }
}

.navmenu__for-customer-service {
    @include media-query(screen-size-medium) {
        margin: 0;

        .navmenu__link { padding-left: 0; }
    }
}


// show .navmenu open icon
.navmenu {
    .navmenu__icon-close {
        display: none;
    }
}


// hide footer navmenu at 768
.navmenu {
    @include media-query(screen-size-medium) {
        .page-footer & {
            display: none;
        }
    }
}



// temporary styles
