extends _layouts/_main-layout

block config
    - var slider = true

block page-body
    main
        .main-content-container
            include _page-partials/_home--pictured-container

            .our-advantages
                .our-advantages__title Наши преимущества
                .our-advantages__quality
                    .our-advantages--cover
                        .our-advantages--cover__title Качество
                        .our-advantages--cover__text.
                            Процессный подход к управлению, европейский стандарт ISO 9001:2008
                            грамотно объединяют все этапы изготовления и распространения
                            продукции, благодаря этому вы сможете ощутить качество
                            продукции Софья лишь посмотрев на нее.
                .our-advantages__eco
                    .our-advantages--cover
                        .our-advantages--cover__title Экология
                        .our-advantages--cover__text.
                            Когда речь заходит об экологии и безопасности,
                            часто говорят о сложных понятиях. Мы за понятный подход
                            к экологии! Поэтому для нашей продукции выбираем натуральные
                            и безопасные материалы, которые принесут в ваш дом удовольствие.
                .our-advantages__patented
                    .our-advantages--cover
                        .our-advantages--cover__title Уникальность
                        .our-advantages--cover__text.
                            Фабрика «Софья» следит за модой и всегда готова удивлять
                            новыми оригинальными идеями Каждый продукт, создаваемый фабрикой уникален
                            с технической точки зрения, производства, структуры и технологий.
                .our-advantages__innovations
                    .our-advantages--cover
                        .our-advantages--cover__title Инновации
                        .our-advantages--cover__text.
                            Софья всегда в поисках нового. Без постоянного обновления
                            технологических процессов и оборудования мы не смогли бы
                            поддерживать необходимый уровень качества и безопасности
                            нашей продукции, актуальность дизайнерских решений.
                .our-advantages__design
                    .our-advantages--cover
                        .our-advantages--cover__title Дизайн
                        .our-advantages--cover__text.
                            Выбирая дизайн от Софьи, вы становитесь обладателем
                            актуальной и модной вещи, выражающей неповторимый
                            авторский стиль лучших мастеров Италии.
                .our-advantages__trustworthy
                    .our-advantages--cover
                        .our-advantages--cover__title Доверие к бренду
                        .our-advantages--cover__text.
                            В 2012 году впервые в истории музея современного искусства Triennale (Италия, Милан)
                            была приглашена российская компанияСофья, которая показала
                            свою философию бренда в инсталляции «FiloSofia».
                            Для нас это знак того, что мы движемся в правильном направлении.