mixin navmenu(menuItems)
    nav.navmenu
        if !pageFooterNavMenu
            .navmenu__icon
                .navmenu__icon-open
                    i.navmenu__icon-open-dot
                    i.navmenu__icon-open-dot
                    i.navmenu__icon-open-dot
                .navmenu__icon-close
                    i.navmenu__icon-close-cross-line-1
                    i.navmenu__icon-close-cross-line-2

        ul.navmenu__container
            each menuItem in menuItems
                if !menuItem.callback_n_faq
                    if !menuItem.submenu
                        li.navmenu__item()&attributes({"class" : menuItem.class})
                            a.navmenu__link()&attributes({"href" : menuItem.href})= menuItem.title


                    else if pageFooterNavMenu
                        li.navmenu__item()&attributes({"class" : menuItem.class})
                            a.navmenu__link()&attributes({"href": menuItem.href})= menuItem.title

                    else
                        li.navmenu__item()&attributes({"class" : menuItem.class})
                            span.navmenu__item-span= menuItem.title
                            nav.navsubmenu
                                ul.navsubmenu__container
                                    each submenuItem in menuItem.submenu
                                        li.navmenu__item()&attributes({"class" : submenuItem.class})
                                            a.navmenu__link()&attributes({"href" : submenuItem.href})
                                                span.navmenu__item-span= submenuItem.title
                else
                    ul.navmenu__callback-n-faq
                        each item in menuItem.callback_n_faq
                            li.navmenu__item()&attributes({ "class" : item.class })
                                a.navmenu__link()&attributes({
                                    "href" : item.href
                                })= item.title