mixin navmenu(menuItems)
    nav.navmenu
        ul.navmenu__container
            each menuItem in menuItems
                if !menuItem.callback_n_faq
                    if pageFooterNavMenu
                        li.navmenu__item&attributes({"class": menuItem.class})
                            a.navmenu__link()&attributes({"href" : menuItem.href})= menuItem.title

                            if menuItem.submenu && !hideSubmenu
                                nav.navsubmenu
                                    ul.navsubmenu__container
                                        each submenuItem in menuItem.submenu
                                            li.navmenu__item&attributes({"class": submenuItem.class})
                                                a.navmenu__link()&attributes({"href" : submenuItem.href})= submenuItem.title

                    else
                        li.navmenu__item&attributes({"class": menuItem.class})= menuItem.title

                            if menuItem.submenu && !hideSubmenu
                                nav.navsubmenu
                                    ul.navsubmenu__container
                                        each submenuItem in menuItem.submenu
                                            li.navmenu__item&attributes({"class": submenuItem.class})
                                                a.navmenu__link()&attributes({"href": submenuItem.href})= submenuItem.title

                if menuItem.callback_n_faq
                    ul.navmenu__callback-n-faq
                        each item in menuItem.callback_n_faq
                            li()&attributes({"class": item.class})
                                a.navmenu__link()&attributes({"href" : item.href})= item.title