//Nav menu

+navmenu([
    {"title" : "Мир Софья", "class": "navmenu__sofia-world", "href" : "sofia-world.html",
        "submenu" : [
            {"title" : "Филосифия бренда", "href" : "brand-phylosophy.html"},
            {"title" : "История бренда", "href" : "brand-history.html"},
            {"title" : "Наши дизайнеры", "href" : "our-designers.html"},
            {"title" : "Софья в телепередачах", "href" : "sofia-on-tv.html"},
            {"title" : "Сертификаты и патенты", "href" : "certificates.html"},
            {"title" : "Партнерство", "href" : "partnership.html"}
        ]
    },
    {"title" : "Продукция компании", "class": "navmenu__company-products", "href" : "company-products.html",
        "submenu": [
            {"title": "Интерьерные двери", "href": "#link"},
            {"title": "Межкомнатные перегородки", "href": "#link"},
            {"title": "Погонажные изделия", "href": "#link"},
            {"title": "Фурнитура", "href": "#link"},
            {"title": "Напольные покрытия", "href": "#link"}
        ]
    },
    {"title" : "Интерьерные решения", "class": "navmenu__interior-solutions", "href" : "interior-solutions.html",
        "submenu": [
            {"title": "Современный стиль", "href": "#link"},
            {"title": "Новая классика", "href": "#link"},
            {"title": "Скандинавский стиль", "href": "#link"},
            {"title": "Высокий дизайн", "href": "#link"},
            {"title": "Винтаж", "href": "#link"},
            {"title": "Софт лакшери/мягкий люкс", "href": "#link"}
        ]
    },
    {"title" : "Покупателям", "class": "navmenu__for-buyers", "href" : "for-buyers.html",
        "submenu": [
            {"title": "Вопросы и ответы", "href": "#link"},
            {"title": "Заказать продукцию", "href": "#link"},
            {"title": "Монтаж", "href": "#link"},
            {"title": "О безопасности продукции", "href": "#link"},
            {"title": "Наши гарантии", "href": "#link"},
            {"title": "Рекомендации по уходу", "href": "#link"},
            {"title": "Отзывы", "href": "#link"}
        ]
    },
    {"title" : "Специалистам", "class": "navmenu__for-specialists", "href" : "for-specialists.html",
        "submenu": [
            {"title": "Дизайнерам и архитекторам", "class": "no-space-between", "href": "#link"},
            {"title": "Сервисной службе", "class": "no-space-between", "href": "#link"}
        ]
    },
    {"title" : "Где купить?", "class": "navmenu__where-to-buy", "href" : "where-to-buy.html"},
    {"title" : "Контакты", "class": "navmenu__contact-details", "href" : "contacts.html"},

    {"callback_n_faq" : [
        {"title" : "", "class" : "navmenu__callback", "href" : "#"},
        {"title" : "?", "class" : "navmenu__faq", "href" : "#"}
    ]}
])