header.page-header
        .page-header--container
            .page-header--top-block
                .page-header--contact-details
                    .contact-details__phone 8-800-775-75-34
                    .contact-details__title Бесплатная горячая линия

                a.page-header--company-logo(href="home.html")

                .page-header--search-block
                    form.page-header__search-form(method="get")
                        input.page-header__search-input(type="search" placeholder="Поиск")
                        button.page-header__search-button
                    a.page-header__go-to-callback-page(href="#callback")
                    a.page-header__go-to-questions-page(href="#questions") ?




            include _navmenu