- var hideSubmenu = true; // blocks showing submenu items in navmenu mixin
- var pageFooterNavMenu = true;

footer.page-footer
    .page-footer--container
        include _navmenu

        .page-footer--bottom-block
            .page-footer--contact-details
                .contact-details__phone 8-800-775-75-34
                .details__title Бесплатная горячая линия

            .page-footer--social-share-block
                .ya-share2(data-services="vkontakte,facebook,twitter" data-limit="0" data-copy="hidden")
                .page-footer--social-buttons-container
                    .page-footer--social-buttons__title Мы в соцсетях:
                    .page-footer--social-buttons-block
                        a.page-footer__social-tw(href="https://twitter.com/" target="_blank")
                        a.page-footer__social-vk(href="http://vk.com/" target="_blank")
                        a.page-footer__social-fb(href="https://www.facebook.com/Sofiadoors/" target="_blank")


            .page-footer__rights-reserved.
                &copy; Все права на любые материалы, опубликованные на сайте,
                защищены в соответствии с российским и международным
                законодательством об авторском праве и смежных правах.

            .page-footer__site-map-wrap
                a.page-footer__site-map(href="#site_map") Карта сайта
