// Document: _themes.scss

$body-bg: #302e2c;



// Temporary colors:
$color-coral: lighten(#ff9876, 10%);
$color-yellow: lighten(#fff0b0, 5%);
$color-blue: lighten(dodgerblue, 30%);
$color-green: lighten(forestgreen, 50%);

// Text colors
$menu-text-color: #797979;

// Misc colors
$active-color: #986945;
$border-color-gray: #525452;
$footer-navmenu-dividers: #838383;
$footer-button-border-color: #525452;
$submenu-bg: #262524;

$our-advantages-bg: #e1e1e1;